
.job-body
{
    margin-left: 4vw;
    margin-right: 4vw;
}

.job-top-text
{
    border: 0;
    border-left: 4px solid pink;
    border-radius: 10px;
    color: #261D56;
    font-size: 130%;
    display: flex;
    float: left;
}
.job-helpline-button
{
    border: 0;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #FC86B0;
}

.job-helpline-button span
{
    font-weight: bolder;
}

.job-close-button
{
    position: absolute;
    top: 20%;
    border: 0;
    color: #FFBDBD;
    padding: 5px 7px 5px 7px;
    background-color: #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #F0F0F7;
}

.job-top-search-bar
{
    display: flex;
    color: #2E4765;
    float: left;
}

.job-select-job
{
    display: flex;
    float: left;
    margin: 10px;
    padding: 10px;
}
.job-select
{
    font-size: 15px;
    font-weight: bolder;
    margin-left: 10px;
}
.job-search-button
{
    background-color: #84E0BE;
    color: white;
    font-size: 30px;
    font-weight: 100;
    width: 70px;
    height: 60px;
    padding: 0px 10px 0px 10px;
    border: 2px solid #00BF78;
    border-radius: 20px;
}

.job-description-container
{
    border: 0;
    margin: 20px 0px 20px 0px;
    color: #2E4765;
    border-right: 2px solid #F5F6FA;
    padding: 10px;
}

.job-description-set-right
{
    float: right;
    text-align: center;
}

.job-description-set-left
{
    float: left;
}

.job-description-id
{
    text-decoration: underline;
    font-weight: lighter;
}

.job-description-select
{
    border: 0 !important;
}


.job-status-btn
{
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #00BF78;
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
}
.job-hired-btn
{
    background-color: #84E0BE;
}
.job-rejected-btn
{
    color: #BFC6D0;
    width: 100px;
    background-color: white;
}
.job-review-btn
{
    background-color: #FFBC6E;
}
.job-interview-btn
{
    background-color: #9FD4FD;
}



.job-centered
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.job-info-card
{
    background-color: white;
    border: 0 !important;
    border-radius: 10px !important;
    padding: 10px 15px 10px 15px;
    width: 250px;
    height: 120px;
    color: #989898;
    margin: auto;
    box-shadow: 0px 20px 40px #F3F3F3;
}

.job-info-card-button
{
    position: absolute;
    top: 0;
    right: -4%;
    height: 120px;
    width: 25px;
    color: white;
    background: linear-gradient(#7367EF, #2995E9);
    border-radius: 5px;
    text-align: center;
    border: 0;
}
.job-btn-container
{;
}